#[
	"port on which should broker server listen"
	#portNumber -> 2707,
	
	"range of ports available for session servers (will be assigned by broker server)"
	#firstSessionServerPortNumber 	-> 27070,
	#lastSessionServerPortNumber 	-> 27080,
	
	"
		List of connection profiles to databases supported by this server
		Each profile is association where key=profileName and value=connectionDataArray:
		profileName -> #(stoneName gemnetid userName userPassword hostUserName hostPassword)
	"		
	#profiles -> #[
		#'seaside' -> #['seaside', '', 'DataCurator', 'swordfish', 'ubuntu', 'ubuntu'],		
	]
]