<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?><!--
    Copyright (c) 2008, 2018 Martin Karpisek.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Martin Karpisek - initial API and implementation
 -->

<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="net.karpisek.gemdev.ui.wizardsCategory"
            name="%wizardsCategory.name">
      </category>
      <wizard
            category="net.karpisek.gemdev.ui.wizardsCategory"
            class="net.karpisek.gemdev.ui.wizards.NewProjectWizard"
            finalPerspective="net.karpisek.gemdev.ui.browserPerspective"
            icon="resources/icons/project.gif"
            id="net.karpisek.gemdev.ui.newProjectWizard"
            name="%newProjectWizard.name"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="resources/icons/project.gif"
            id="net.karpisek.gemdev.ui.projectNatureImage"
            natureId="net.karpisek.gemdev.core.projectNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="net.karpisek.gemdev.ui.preferences.ProjectServerPropertyPage"
            id="net.karpisek.gemdev.ui.projectPropertyPage"
            name="%serverPropertyPage.name">
         <enabledWhen>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="net.karpisek.gemdev.core.projectNature">
               </test>
            </and>
         </enabledWhen>
      </page>
      <page
            class="net.karpisek.gemdev.ui.preferences.ClassPropertyPage"
            id="net.karpisek.gemdev.ui.classPropertyPage"
            name="%classPropertyPage.name">
         <enabledWhen>
            <and>
               <instanceof
                     value="net.karpisek.gemdev.core.db.DbClass">
               </instanceof>
            </and>
         </enabledWhen>
      </page>
      <page
            class="net.karpisek.gemdev.ui.preferences.MethodPropertyPage"
            id="net.karpisek.gemdev.ui.methodPropertyPage"
            name="%methodPropertyPage.name">
         <enabledWhen>
            <and>
               <instanceof
                     value="net.karpisek.gemdev.core.db.DbMethod">
               </instanceof>
            </and>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="net.karpisek.gemdev.ui.projectsView">
      </viewer>
      <viewerActionBinding
            viewerId="net.karpisek.gemdev.ui.projectsView">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="net.karpisek.gemdev.ui.projectsView">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="net.karpisek.gemdev.ui.projectsView.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            class="net.karpisek.gemdev.ui.browser.projects.ProjectsViewFilter"
            id="net.karpisek.gemdev.ui.projectsView.filters.otherThanGemDevProjects"
            name="%projectsView.otherProjectsFilter.name">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.karpisek.gemdev.ui.viewCategory"
            name="%viewsCategory.name">
      </category>
      <view
            category="net.karpisek.gemdev.ui.viewCategory"
            class="net.karpisek.gemdev.ui.browser.projects.ProjectsView"
            icon="resources/icons/project.gif"
            id="net.karpisek.gemdev.ui.projectsView"
            name="%projectsView.name"
            restorable="true">
      </view>
      <view
            category="net.karpisek.gemdev.ui.viewCategory"
            class="net.karpisek.gemdev.ui.browser.classes.ClassHierarchyView"
            icon="resources/icons/classHierarchy.gif"
            id="net.karpisek.gemdev.ui.classHierarchyView"
            name="%classHierarchyView.name"
            restorable="true">
      </view>
      <view
            category="net.karpisek.gemdev.ui.viewCategory"
            class="net.karpisek.gemdev.ui.browser.categories.CategoriesView"
            icon="resources/icons/categoriesView.gif"
            id="net.karpisek.gemdev.ui.categoriesView"
            name="%categoriesView.name"
            restorable="true">
      </view>
      <view
            category="net.karpisek.gemdev.ui.viewCategory"
            class="net.karpisek.gemdev.ui.browser.methods.MethodsView"
            icon="resources/icons/methodsView.gif"
            id="net.karpisek.gemdev.ui.methodsView"
            name="%methodsView.name"
            restorable="true">
      </view>
      <view
            category="net.karpisek.gemdev.ui.viewCategory"
            class="net.karpisek.gemdev.ui.inspector.InspectorView"
            icon="resources/icons/inspectorView.gif"
            id="net.karpisek.gemdev.ui.inspectorView"
            name="%inspectorView.name"
            restorable="true">
      </view>
      <view
            category="net.karpisek.gemdev.ui.viewCategory"
            class="net.karpisek.gemdev.ui.views.AstView"
            icon="resources/icons/string.gif"
            id="net.karpisek.gemdev.ui.astView"
            name="%astView.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.karpisek.gemdev.ui.browser.Perspective"
            icon="resources/icons/browser.gif"
            id="net.karpisek.gemdev.ui.browserPerspective"
            name="%browserPerspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:navigate?after=open.ext">
         <command
               commandId="net.karpisek.gemdev.ui.openClassCommand"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=navigate">
         <menu
               id="org.eclipse.search.menu"
               label="%searchMenu.label"
               mnemonic="%searchMenu.mnemonic">
            <separator
                  name="fileSearchContextMenuActionsGroup">
            </separator>
            <separator
                  name="contextMenuActionsGroup">
            </separator>
            <separator
                  name="occurencesActionsGroup">
            </separator>
            <separator
                  name="extraSearchGroup">
            </separator>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.search.menu?after=contextMenuActionsGroup">
         <command
               commandId="net.karpisek.gemdev.ui.findImplementorsCommand"
               style="push">
         </command>
         <command
               commandId="net.karpisek.gemdev.ui.findSendersCommand"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:net.karpisek.gemdev.ui.projectsView?after=group.build">
         <command
               commandId="net.karpisek.gemdev.ui.connectCommand"
               style="push">
         </command>
         <command
               commandId="net.karpisek.gemdev.ui.disconnectCommand"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:net.karpisek.gemdev.ui.classHierarchyView">
         <command
               commandId="net.karpisek.gemdev.ui.newClassCommand"
               style="push">
         </command>
         <command
               commandId="net.karpisek.gemdev.ui.deleteClassCommand"
               style="push">
         </command>
         <separator
               name="net.karpisek.gemdev.ui.classSeparator1"
               visible="true">
         </separator>
         <command
               commandId="net.karpisek.gemdev.ui.exportCommand"
               style="push">
         </command>
         <separator
               name="net.karpisek.gemdev.ui.classSeparator2"
               visible="true">
         </separator>
         <command
               commandId="net.karpisek.gemdev.ui.openClassCommand"
               style="push">
         </command>
         <command
               commandId="net.karpisek.gemdev.ui.findReferencesCommand"
               style="push">
         </command>
         <separator
               name="net.karpisek.gemdev.ui.classSeparator3"
               visible="true">
         </separator>
         <separator
               name="group.team">
         </separator>
         <separator
               name="group.compare">
         </separator>
         <separator
               name="net.karpisek.gemdev.ui.classSeparator4"
               visible="true">
         </separator>
         <command
               commandId="net.karpisek.gemdev.ui.propertiesCommand"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:net.karpisek.gemdev.ui.categoriesView">
         <command
               commandId="net.karpisek.gemdev.ui.newCategoryCommand"
               style="push">
         </command>
         <command
               commandId="net.karpisek.gemdev.ui.deleteCategoryCommand"
               icon="resources/icons/delete.gif"
               style="push">
         </command>
         <separator
               name="net.karpisek.gemdev.ui.categorySeparator1"
               visible="true">
         </separator>
         <menu
               label="%refactorMenu.label">
            <command
                  commandId="net.karpisek.gemdev.ui.renameCommand"
                  style="push">
            </command>
         </menu>
         <separator
               name="net.karpisek.gemdev.ui.categorySeparator2"
               visible="true">
         </separator>
         <command
               commandId="net.karpisek.gemdev.ui.exportCommand"
               style="push">
         </command>
         <separator
               name="net.karpisek.gemdev.ui.categorySeparator3"
               visible="true">
         </separator>
         <separator
               name="group.team">
         </separator>
         <separator
               name="group.compare">
         </separator>
         <separator
               name="net.karpisek.gemdev.ui.categorySeparator4"
               visible="true">
         </separator>
         <command
               commandId="net.karpisek.gemdev.ui.findMethodCommand"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:net.karpisek.gemdev.ui.methodsView">
         <command
               commandId="net.karpisek.gemdev.ui.newMethodCommand"
               style="push">
         </command>
         <command
               commandId="net.karpisek.gemdev.ui.deleteMethodCommand"
               style="push">
         </command>
         <separator
               name="net.karpisek.gemdev.ui.methodsSeparator1"
               visible="true">
         </separator>
         <menu
               label="%refactorMenu.label">
            <command
                  commandId="net.karpisek.gemdev.ui.moveCommand"
                  style="push">
            </command>
         </menu>
         <separator
               name="net.karpisek.gemdev.ui.methodsSeparator2"
               visible="true">
         </separator>
         <command
               commandId="net.karpisek.gemdev.ui.exportCommand"
               style="push">
         </command>
         <separator
               name="net.karpisek.gemdev.ui.methodsSeparator3"
               visible="true">
         </separator>
         <menu
               label="%declarationsMenu.label">
            <command
                  commandId="net.karpisek.gemdev.ui.findDeclarationsCommand"
                  label="Project"
                  style="push">
            </command>
         </menu>
         <menu
               label="%referencesMenu.label">
            <command
                  commandId="net.karpisek.gemdev.ui.findReferencesCommand"
                  label="Project"
                  style="push">
            </command>
         </menu>
         <command
               commandId="net.karpisek.gemdev.ui.messagesCommand"
               style="push">
         </command>
         <separator
               name="net.karpisek.gemdev.ui.methodsSeparator4"
               visible="true">
         </separator>
         <separator
               name="group.team">
         </separator>
         <separator
               name="group.compare">
         </separator>
         <separator
               name="net.karpisek.gemdev.ui.methodsSeparator5"
               visible="true">
         </separator>
         <command
               commandId="net.karpisek.gemdev.ui.propertiesCommand"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:#MethodEditorContextMenu?after=group.open">
         <command
               commandId="net.karpisek.gemdev.ui.inspectItCommand"
               style="push">
         </command>
         <command
               commandId="net.karpisek.gemdev.ui.printItCommand"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:#MethodEditorContextMenu?after=group.edit">
         <menu
               id="net.karpisek.gemdev.ui.refactorMenu"
               label="%refactorMenu.label">
            <command
                  commandId="net.karpisek.gemdev.ui.renameCommand"
                  style="push">
            </command>
         </menu>
         <menu
               id="net.karpisek.gemdev.sourceMenu"
               label="Source">
            <command
                  commandId="net.karpisek.gemdev.ui.toggleCommentCommand"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:#MethodEditorContextMenu?after=group.find">
         <menu
               id="net.karpisek.gemdev.ui.declarationsMenu"
               label="%declarationsMenu.label">
            <command
                  commandId="net.karpisek.gemdev.ui.findDeclarationsCommand"
                  label="Project"
                  style="push">
            </command>
         </menu>
         <menu
               id="net.karpisek.gemdev.ui.referencesMenu"
               label="%referencesMenu.label">
            <command
                  commandId="net.karpisek.gemdev.ui.findReferencesCommand"
                  label="Project"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:net.karpisek.gemdev.ui.inspectorView.tree">
         <command
               commandId="net.karpisek.gemdev.ui.inspectItCommand"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:net.karpisek.gemdev.ui.inspectorView.text?after=group.open">
         <command
               commandId="net.karpisek.gemdev.ui.inspectItCommand"
               style="push">
         </command>
         <command
               commandId="net.karpisek.gemdev.ui.printItCommand"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:#WorkspaceEditorContextMenu?after=group.find">
         <menu
               id="net.karpisek.gemdev.ui.workspace.declarationsMenu"
               label="%declarationsMenu.label">
            <command
                  commandId="net.karpisek.gemdev.ui.findDeclarationsCommand"
                  label="Project"
                  style="push">
            </command>
         </menu>
         <menu
               id="net.karpisek.gemdev.ui.workspace.referencesMenu"
               label="%referencesMenu.label">
            <command
                  commandId="net.karpisek.gemdev.ui.findReferencesCommand"
                  label="Project"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:#WorkspaceEditorContextMenu?after=group.edit">
         <menu
               id="net.karpisek.gemdev.ui.workspace.refactorMenu"
               label="%refactorMenu.label">
            <command
                  commandId="net.karpisek.gemdev.ui.renameCommand"
                  style="push">
            </command>
         </menu>
         <menu
               id="net.karpisek.gemdev.ui.workspace.sourceMenu"
               label="Source">
            <command
                  commandId="net.karpisek.gemdev.ui.toggleCommentCommand"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:#WorkspaceEditorContextMenu?after=group.open">
         <command
               commandId="net.karpisek.gemdev.ui.inspectItCommand"
               style="push">
         </command>
         <command
               commandId="net.karpisek.gemdev.ui.printItCommand"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.search.ui.views.SearchView?after=group.open">
         <menu
               id="net.karpisek.gemdev.ui.search.declarationsMenu"
               label="%declarationsMenu.label">
            <command
                  commandId="net.karpisek.gemdev.ui.findDeclarationsCommand"
                  label="Project"
                  style="push">
            </command>
         </menu>
         <menu
               id="net.karpisek.gemdev.ui.search.referencesMenu"
               label="%referencesMenu.label">
            <command
                  commandId="net.karpisek.gemdev.ui.findReferencesCommand"
                  label="Project"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="net.karpisek.gemdev.ui.refactoringCategory"
            name="%refactoringCommandsCategory.label">
      </category>
      <command
            categoryId="org.eclipse.ui.category.navigate"
            id="net.karpisek.gemdev.ui.connectCommand"
            name="%connectCommand.label">
      </command>
      <command
            categoryId="org.eclipse.ui.category.navigate"
            id="net.karpisek.gemdev.ui.disconnectCommand"
            name="%disconnectCommand.label">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="net.karpisek.gemdev.ui.newClassCommand"
            name="%newClassCommand.label">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="net.karpisek.gemdev.ui.deleteClassCommand"
            name="%deleteClassCommand.label">
      </command>
      <command
            categoryId="org.eclipse.ui.category.navigate"
            defaultHandler="net.karpisek.gemdev.ui.browser.classes.OpenClassHandler"
            id="net.karpisek.gemdev.ui.openClassCommand"
            name="%openClassCommand.label">
      </command>
      <command
            categoryId="org.eclipse.search.ui.category.search"
            defaultHandler="net.karpisek.gemdev.ui.browser.FindImplementorsHandler"
            id="net.karpisek.gemdev.ui.findImplementorsCommand"
            name="%findImplementorsCommand.label">
      </command>
      <command
            categoryId="org.eclipse.search.ui.category.search"
            defaultHandler="net.karpisek.gemdev.ui.browser.FindSendersHandler"
            id="net.karpisek.gemdev.ui.findSendersCommand"
            name="%findSendersCommand.label">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="net.karpisek.gemdev.ui.newCategoryCommand"
            name="%newCategoryCommand.label">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="net.karpisek.gemdev.ui.deleteCategoryCommand"
            name="%deleteCategoryCommand.label">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="net.karpisek.gemdev.ui.newMethodCommand"
            name="%newMethodCommand.label">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="net.karpisek.gemdev.ui.deleteMethodCommand"
            name="%deleteMethodCommand.label">
      </command>
      <command
            categoryId="org.eclipse.ui.category.navigate"
            id="net.karpisek.gemdev.ui.findMethodCommand"
            name="%findMethodCommand.label">
      </command>
      <command
            categoryId="org.eclipse.search.ui.category.search"
            id="net.karpisek.gemdev.ui.findDeclarationsCommand"
            name="%findDeclarationsCommand.name2">
      </command>
      <command
            categoryId="org.eclipse.search.ui.category.search"
            id="net.karpisek.gemdev.ui.findReferencesCommand"
            name="%findReferencesCommand.name2">
      </command>
      <command
            categoryId="org.eclipse.ui.category.navigate"
            id="net.karpisek.gemdev.ui.messagesCommand"
            name="%messagesCommand.label">
      </command>
      <command
            categoryId="org.eclipse.ui.category.navigate"
            id="net.karpisek.gemdev.ui.inspectItCommand"
            name="%inspectItCommand.label">
      </command>
      <command
            categoryId="org.eclipse.ui.category.navigate"
            id="net.karpisek.gemdev.ui.printItCommand"
            name="%printItCommand.label">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="net.karpisek.gemdev.ui.propertiesCommand"
            name="%propertiesCommand.label">
      </command>
      <command
            categoryId="net.karpisek.gemdev.ui.refactoringCategory"
            id="net.karpisek.gemdev.ui.renameCommand"
            name="%renameCommand.label">
      </command>
      <command
            categoryId="net.karpisek.gemdev.ui.refactoringCategory"
            id="net.karpisek.gemdev.ui.moveCommand"
            name="%moveCommand.label">
      </command>
      <command
            defaultHandler="net.karpisek.gemdev.ui.wizards.ExportHandler"
            id="net.karpisek.gemdev.ui.exportCommand"
            name="%exportCommand.label">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            id="net.karpisek.gemdev.ui.toggleCommentCommand"
            name="Toggle Comment">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="net.karpisek.gemdev.ui.context"
            name="%context.name"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.karpisek.gemdev.ui.openClassCommand"
            contextId="net.karpisek.gemdev.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+T">
      </key>
      <key
            commandId="net.karpisek.gemdev.ui.findImplementorsCommand"
            contextId="net.karpisek.gemdev.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+I">
      </key>
      <key
            commandId="net.karpisek.gemdev.ui.findSendersCommand"
            contextId="net.karpisek.gemdev.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+J">
      </key>
      <key
            commandId="net.karpisek.gemdev.ui.findDeclarationsCommand"
            contextId="net.karpisek.gemdev.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+G">
      </key>
      <key
            commandId="net.karpisek.gemdev.ui.findReferencesCommand"
            contextId="net.karpisek.gemdev.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+G">
      </key>
      <key
            commandId="net.karpisek.gemdev.ui.inspectItCommand"
            contextId="net.karpisek.gemdev.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+E">
      </key>
      <key
            commandId="net.karpisek.gemdev.ui.printItCommand"
            contextId="net.karpisek.gemdev.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+R">
      </key>
      <key
            commandId="net.karpisek.gemdev.ui.propertiesCommand"
            contextId="net.karpisek.gemdev.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+ENTER">
      </key>
      <key
            commandId="net.karpisek.gemdev.ui.renameCommand"
            contextId="net.karpisek.gemdev.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+SHIFT+R">
      </key>
      <key
            commandId="net.karpisek.gemdev.ui.moveCommand"
            contextId="net.karpisek.gemdev.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+SHIFT+V">
      </key>
      <key
            commandId="net.karpisek.gemdev.ui.toggleCommentCommand"
            contextId="net.karpisek.gemdev.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+/">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.karpisek.gemdev.ui.browser.MethodEditor"
            default="false"
            icon="resources/icons/methodsView.gif"
            id="net.karpisek.gemdev.ui.methodEditor"
            name="%methodEditor.name">
      </editor>
      <editor
            class="net.karpisek.gemdev.ui.workspace.WorkspaceEditor"
            default="false"
            extensions="gsw"
            icon="resources/icons/workspace.gif"
            id="net.karpisek.gemdev.ui.workspaceEditor"
            name="%workspaceEditor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="net.karpisek.gemdev.ui.search.MethodsSearchResultPage"
            id="net.karpisek.gemdev.ui.methodsSearchResult"
            searchResultClass="net.karpisek.gemdev.ui.search.MethodsSearchResult">
      </viewPage>
   </extension>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            class="net.karpisek.gemdev.ui.search.TextSearchPage"
            enabled="true"
            id="net.karpisek.gemdev.ui.textSearchPage"
            label="%textSearchPage.label"
            sizeHint="640,480">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="net.karpisek.gemdev.ui.bracketsAnnotationType"
            colorPreferenceKey="gemdevBracketsColor"
            colorPreferenceValue="255,193,113"
            highlightPreferenceKey="gemdevBracketsHighlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="%bracketsAnnotationType.label"
            overviewRulerPreferenceKey="gemdevBracketsOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="4"
            textPreferenceKey="gemdevBracketsText"
            textPreferenceValue="true"
            textStylePreferenceKey="gemdevBracketsTextStyle"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="gemdevBracketsVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="net.karpisek.gemdev.ui.occurencesAnnotationType"
            colorPreferenceKey="gemdevOccurencesColor"
            colorPreferenceValue="192,192,192"
            highlightPreferenceKey="gemdevOccurencesHighlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="%occurencesAnnotationType.label"
            overviewRulerPreferenceKey="gemdevOccurencesOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="6"
            textPreferenceKey="gemdevOccurencesText"
            textPreferenceValue="true"
            textStylePreferenceKey="gemdevOccurencesTextStyle"
            textStylePreferenceValue="UNDERLINE"
            verticalRulerPreferenceKey="gemdevOccurencesVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.karpisek.gemdev.ui.preferences.GsPreferences">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.karpisek.gemdev.ui.preferences.MainPage"
            id="net.karpisek.gemdev.ui.mainPreferencePage"
            name="%mainPreferencePage.name">
      </page>
      <page
            category="net.karpisek.gemdev.ui.mainPreferencePage"
            class="net.karpisek.gemdev.ui.preferences.SyntaxColoringPage"
            id="net.karpisek.gemdev.ui.syntaxColoringPreferencePage"
            name="%syntaxColoringPreferencePage.name">
      </page>
      <page
            category="net.karpisek.gemdev.ui.mainPreferencePage"
            class="net.karpisek.gemdev.ui.preferences.ErrorsAndWarningsPage"
            id="net.karpisek.gemdev.ui.errorsAndWarningsPreferencePage"
            name="%errorsAndWarningsPreferencePage.name">
      </page>
      <page
            category="net.karpisek.gemdev.ui.mainPreferencePage"
            class="net.karpisek.gemdev.ui.preferences.GsTemplatePreferencePage"
            id="net.karpisek.gemdev.ui.templatesPreferencePage"
            name="Templates">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="net.karpisek.gemdev.ui.openClassCommand"
            icon="resources/icons/opentype.gif">
      </image>
      <image
            commandId="net.karpisek.gemdev.ui.findImplementorsCommand"
            icon="resources/icons/findImplementors.gif">
      </image>
      <image
            commandId="net.karpisek.gemdev.ui.findSendersCommand"
            icon="resources/icons/findSenders.gif">
      </image>
      <image
            commandId="net.karpisek.gemdev.ui.connectCommand"
            icon="resources/icons/connect.gif">
      </image>
      <image
            commandId="net.karpisek.gemdev.ui.disconnectCommand"
            icon="resources/icons/disconnect.gif">
      </image>
      <image
            commandId="net.karpisek.gemdev.ui.newClassCommand"
            icon="resources/icons/new.gif">
      </image>
      <image
            commandId="net.karpisek.gemdev.ui.deleteClassCommand"
            icon="resources/icons/delete.gif">
      </image>
      <image
            commandId="net.karpisek.gemdev.ui.exportCommand"
            icon="resources/icons/export_wiz.gif">
      </image>
      <image
            commandId="net.karpisek.gemdev.ui.newCategoryCommand"
            icon="resources/icons/new.gif">
      </image>
      <image
            commandId="net.karpisek.gemdev.ui.deleteCategoryCommand"
            icon="resources/icons/delete.gif">
      </image>
      <image
            commandId="net.karpisek.gemdev.ui.newMethodCommand"
            icon="resources/icons/new.gif">
      </image>
      <image
            commandId="net.karpisek.gemdev.ui.deleteMethodCommand"
            icon="resources/icons/delete.gif">
      </image>
      <image
            commandId="net.karpisek.gemdev.ui.inspectItCommand"
            icon="resources/icons/inspectorView.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="net.karpisek.gemdev.ui.editor.contentassist.GsTemplateContextType"
            id="net.karpisek.gemdev.ui.templateContextType"
            name="GemDev"
            registryId="net.karpisek.gemdev.ui.templateContextTypeRegistry">
      </contextType>
      <contextTypeRegistry
            id="net.karpisek.gemdev.ui.templateContextTypeRegistry">
      </contextTypeRegistry>
   </extension>

</plugin>
